{#
/**
 * @file
 * Theme "page__simplelogin" template.
 *
 * @see simplelogin_preprocess_simplelogin()
 * @see simplelogin_theme_registry_alter()
 */
#}
{% spaceless %}
  <div class="simplelogin-wrapper {{ background_class }} {{ background_opacity }}">
    <div class="simplelogin-form" style="width: {{ wrapper_width }}px">
     

      <div class="simplelogin-bg">
        <div class="simplelogin-logo ok">
          <a href="{{ base_path }}"><img src="{{ logo }}" alt="Home"/></a>
        </div>
<br>
<br>
        {{ page.highlighted }}
        {{ page.content }}
 
         {% if path == '/user/login' %}
          <div class="forgot-password">
            Lupa Password? <a href="{{ base_path }}user/password">Klik disini</a>
          </div>
        {% endif %}


         <div class="simplelogin-link">
        {% if path == '/user/password' %}
          <a href="{{ base_path }}user/login" class="signreg">{{ 'Login'|t }}</a>
        {% elseif path == '/user/register' %}
          <a href="{{ base_path }}user/login" class="signreg">{{ 'Login'|t }}</a>
        {% else %}
          {% if site_register != 'admin_only' %}
            <a href="{{ base_path }}user/register" class="signreg">Daftar</a>
          {% endif %}
        {% endif %}
      </div>
      </div>
    </div>
  </div>
{% endspaceless %}
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<style>
#edit-mail{
    display:none;
}
</style>
<script>
 function generateRandomEmail() {
        var randomText = Math.random().toString(36).substring(7);
        return randomEmail = "usergenerate-" + randomText + "@gmail.com";

        return randomEmail;
    }
    
    
//when the webpage is loaded
$(document).ready(function() {
  //show an alert message
  //alert("Hello, this is Bing!");
    $('#edit-mail').val(generateRandomEmail());
    $(".js-password-confirm").attr("placeholder", "Ulangi password"); 
    $("#edit-name").attr("placeholder", "Masukkan Username anda"); 
    
    $(".password-confirm-message").text("Kecocokan password");
     $("#edit-submit").val("Login");
     
     var $registerForm = $('#user-register-form');

  if ($registerForm.length) {
    // Cari tombol submit dalam form pendaftaran pengguna.
    var $submitButton = $registerForm.find('input[type="submit"]');

    if ($submitButton.length) {
      // Ganti teks tombol submit.
      $submitButton.val('Daftar');
    }
  }
  
   
});



</script>